*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*espaciado de div para mejor visualizacion*/
div {
    padding: 10px;
}

a {
    display: inline-block;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img_prin {
    justify-items: center;
    align-items: center;
}
/*Cambio de color al pasar el mouse*/
a:hover {
    font-weight: bold;
    padding: 1vh;
    background-color: lightblue;
    color: black;
}

.grid-padre {
display: grid;
grid-template-rows: 30vh 30vh 30vh;
grid-template-areas: "seccion seccion seccion";
}

.grid-item {
    grid-area: seccion;
    width: 30%;
    height: 30%;
}

@media screen and (max-width: 768px) {
    .grid-padre{
    display: grid;
    row-gap: 3px;
    grid-template-columns: 3fr;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: 
    "seccion"
    "seccion"
    "seccion";
    }
    .figure {
        align-items: center;
        justify-items: center;
    }
    .card{
        width: 30vw;
    } 
}

footer{
    text-align: center;
}